<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Finder</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
        .active {
            color: green;
            background-color: yellow;
        }

        .text-danger {
            color: red;
        }
    </style>
</head>
<body>
    <div id="el">
        <h1 v-bind:class="{active: isActive}">{{welcome}}</h1>
        <br>
        <label for="">Find Movie</label>
        <input v-model="findMovie">
        <br>
        <ul>
            <li v-for="movie in filteredMovies">
                {{movie}}
            </li>
        </ul>
        <br>
        <button @click="pressed">Press Meh</button>
        <button @click="isActive = !isActive">Press meh too plz</button>
        <h3 :style="myStyles">Howdy</h3>
    </div>
    <script>
        new Vue({
            el: '#el',
            data() {
                return {
                   welcome: 'Movie Finder',
                   findMovie: '',
                   movies: [
                       'Gone with the wind',
                       'Gandi',
                       'American Pie',
                       'American Beauty',
                       'Jack And Jill',
                       'Grease',
                       'Final Destination'
                   ],
                   myStyles: {
                       color: 'blue',
                       fontSize: '100px'

                   },
                   isActive: false
                }
            },
            methods: {
                pressed() {
                    this.filteredMovies = ['Die Hard', 'Illusionist', 'Rampage']
                }
            },
            computed: {
                filteredMovies: {
                    get() {
                        let filter = new RegExp(this.findMovie, 'i');
                        return this.movies.filter(el => el.match(filter));
                    },
                    set(val) {
                        this.movies = val;
                    }
                }
            }
            
        })
    </script>
</body>
</html>