<!DOCTYPE html>
<html>
	<head>
		<title>VUE the v-model directive</title>
		<meta http-equiv='content-type' content='text/html;charset=utf-8'>
		<meta name='viewport' content='width=device-width,initial-scale=1.0'>
		<style>
			h1,div,p,span{font-size:33px;font-family:helvetica;margin-top:10px;}
			textarea{width:400px;height:240px;font-size:36px;}
			span{color:red}
		</style>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<body>	
		<div id='app'>
			<select v-model='message'>
				<option v-for='element in list_info' v-bind:value='element.color'>{{element.value}}</option>
			</select>
			<hr/>
            <p>The color of the fruit you selected is: <span>{{message}}</span></p>
            <br>
            <hr>
            <input v-model='input'>
            <p>Computed prop: {{computed_msg}}</p>
			
		</div>
	<script type='text/javascript'>
		var vm = new Vue({
			el:'#app',
			data:{
				message:'default value set in DATA',
                input: 'this is what will go to computed prop',
				list_info:[
					{value:'apple',color:'red',},
					{value:'peach',color:'peach',},
					{value:'orange',color:'orange',},
					{value:'pear',color:'green',},
					{value:'banana',color:'yellow',},
				],
			},
            computed: {
                computed_msg: function() {
                    return this.input.split('').reverse().join('')
                }
            },
            filters: {
                capitalize: function(v) {
                    return v.toUpperCase()
                }
            }
		})
	</script>	
	</body>
</html>

























